*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;

}

body{
  color: white;

}
.Caja{
  width: 300px;
  height: 150px; 
}
.Caja1{
 background:steelblue;
 padding: 10px 20px 30px 40px; 
 border:solid 5px green;
 margin: 10px ;
 box-sizing: border-box;
}

.Caja2{
 background:crimson; 
 padding: 10px 20px 30px 40px; 
 border:solid 5px green;
 margin: 10px ;
 box-sizing: border-box;
}

.Caja3{
  background:brown;
  padding: 40px;
  margin: 40px;
  display:block;
  color: white;


}


